<ion-header [translucent]="true">

  <app-barranav titulo="Registrar"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-registrar centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div class="contenedor-input margin-auto">
        <form [formGroup]="registroForm" (ngSubmit)="validarRegistro()">

          <ion-input formControlName="usuario1" label="Usuario" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su usuario"></ion-input>
          <div *ngIf="registroForm.get('usuario1')?.invalid && (registroForm.get('usuario1')?.dirty) || registroForm.get('usuario1')?.touched">
            <p *ngIf="registroForm.get('usuario1')?.hasError('required')">El nombre de Usuario no puede estar vacio.</p>
            <p *ngIf="registroForm.get('usuario1')?.hasError('minlength')">El usuario debe tener al menos 4 caracteres.</p>
          </div>

          <ion-input formControlName="email1" label="Correo" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su email"></ion-input>
          <div *ngIf="registroForm.get('email1')?.invalid && (registroForm.get('email1')?.dirty) || registroForm.get('email1')?.touched">
            <p *ngIf="registroForm.get('email1')?.hasError('required')">El email no puede estar vacio </p>
            <p *ngIf="registroForm.get('email1')?.hasError('email')">Por favor ingrese un email valido.</p>
          </div>

          <ion-input formControlName="rut" label="Rut" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su rut."></ion-input>
            <div *ngIf="registroForm.get('rut')?.invalid && registroForm.get('rut')?.dirty">
              <p *ngIf="registroForm.get('rut')?.hasError('required')">El rut no puede estar vacio.</p>
              <p *ngIf="registroForm.get('rut')?.hasError('rutInvalido')">Por favor ingrese un rut valido.</p>
            </div>

          <ion-input formControlName="telefono" label="Telefono" label-placement="floating" fill="outline" class="espacio" type="number" placeholder="Ingrese su número de telefono"></ion-input>
            <div *ngIf="registroForm.get('telefono')?.invalid && (registroForm.get('telefono')?.dirty || registroForm.get('telefono')?.touched)">
              <p *ngIf="registroForm.get('telefono')?.hasError('required')">El teléfono no puede estar vacio.</p>
              <p *ngIf="registroForm.get('telefono')?.hasError('pattern')">El teléfono debe tener entre 9 y 10 digitos.</p>
            </div>

            <ion-input formControlName="direccion" label="Direccion" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su dirección"></ion-input>
            <div *ngIf="registroForm.get('direccion')?.invalid && (registroForm.get('direccion')?.dirty || registroForm.get('direccion')?.touched)">
              <p *ngIf="registroForm.get('direccion')?.hasError('required')">La dirección no puede estar vacia.</p>
              <p *ngIf="registroForm.get('direccion')?.hasError('minlength')">La dirección no puede tener menos de 5 caracteres.</p>
              <p *ngIf="registroForm.get('direccion')?.hasError('pattern')">La dirección tiene que contener números.</p>
            </div>

            <div class="margin-auto espacio">
              <ion-list class="sin-padding">
                <ion-item class="seleccomuna">
                  <ion-select aria-label="Comuna" interface="action-sheet" placeholder="Seleccione su comuna" formControlName="comuna" class="seleccomuna">
                    <ion-select-option *ngFor="let comuna of arregloComunas" [value]="comuna.idcomuna"> {{comuna.comnombre}} </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
            <div *ngIf="registroForm.get('comuna')?.invalid && (registroForm.get('comuna')?.dirty || registroForm.get('comuna')?.touched)">
              <p *ngIf="registroForm.get('comuna')?.hasError('required')">Se debe seleccionar una comuna.</p>
            </div>

          <ion-input formControlName="fechanac" label="Fecha de Nacimiento" label-placement="floating" fill="outline" class="espacio" type="text" placeholder="Ingrese su fecha de nacimiento."></ion-input>
            <div *ngIf="registroForm.get('fechanac')?.invalid && registroForm.get('fechanac')?.dirty || registroForm.get('fechanac')?.touched">
              <p *ngIf="registroForm.get('fechanac')?.hasError('required')">La fecha de nacimiento no puede estar vacia.</p>
              <p *ngIf="registroForm.get('fechanac')?.hasError('menorDeEdad')">No se puede registrar a un menor de 16 años.</p>
              <p *ngIf="registroForm.get('fechanac')?.hasError('maximoEdad')">No se puede registrar a una persona con más de 130 años.</p>
              <p *ngIf="registroForm.get('fechanac')?.hasError('fechaInvalida')">La fecha es invalida, asegurate que el formato sea DD/MM/YYYY.</p>
              <p *ngIf="registroForm.get('fechanac')?.hasError('fechaMayor')">La fecha de nacimiento no puede ser en el futuro.</p>
            </div>

          <ion-input formControlName="contrasena1" label="Contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese su contraseña"></ion-input>
          <div *ngIf="registroForm.get('contrasena1')?.invalid && (registroForm.get('contrasena1')?.dirty || registroForm.get('contrasena1')?.touched)">
            <p *ngIf="registroForm.get('contrasena1')?.hasError('required')">La contraseña no puede estar vacia.</p>
            <p *ngIf="registroForm.get('contrasena1')?.hasError('minimo')">La contraseña debe tener al menos 8 caracteres.</p>
            <p *ngIf="registroForm.get('contrasena1')?.hasError('mayuscula')">La contraseña debe contener una mayuscula.</p>
            <p *ngIf="registroForm.get('contrasena1')?.hasError('minuscula')">La contraseña debe contener una minuscula.</p>
            <p *ngIf="registroForm.get('contrasena1')?.hasError('numero')">La contraseña debe contener un número.</p>
            <p *ngIf="registroForm.get('contrasena1')?.hasError('especial')">La contraseña debe contener un caracter especial.</p>
          </div>

          <ion-input formControlName="contrasenarepetida" label="Repita su contraseña." label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Repita su contraseña."></ion-input>
          <div *ngIf="registroForm.hasError('mismatch') && registroForm.get('contrasenarepetida')?.dirty">
              <p >Las contraseñas no coinciden</p>
            </div>

          <ion-button expand="full" type="submit" [disabled]="registroForm.invalid" class="btn-color"><ion-icon slot="start" name="person-add-outline"></ion-icon>Registrar</ion-button>
        </form>
      </div>

      <br>

      <div class="contenedor-input margin-auto" (click)="irLogin()">
        <p class="tamano-letras">¿Ya tienes una cuenta? Inicia sesión aqui!!!</p>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>

  <app-barrafooter></app-barrafooter>
  
</ion-footer>