<ion-header>

  <app-barranav titulo="Perfil" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <div class="contenedor-perfil margin-auto bordear">
    <div class="centrar">
      <hr>
      <img *ngIf="!datosUsuario.uimagen" src="assets/imgperfil.png" alt="" class="tamano-perfil">
      <img *ngIf="datosUsuario.uimagen" [src]="datosUsuario.uimagen" alt="" class="tamano-perfil">
    </div>

    <hr>

    <div class="contenedor-datos margin-auto">
      
      <div class="letra-grande">
        <ion-label class="custom-label">Usuario:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.uusuario"></ion-input>
      </div>
      <div class="letra-grande">
        <ion-label class="custom-label">Correo:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.ucorreo"></ion-input>
      </div>
      <div class="letra-grande">
        <ion-label class="custom-label">Rut:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.urut | rut"></ion-input>
      </div>
      <div class="letra-grande">
        <ion-label class="custom-label">Telefono:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.utelefono"></ion-input>
      </div>
      <div class="letra-grande">
        <ion-label class="custom-label">Direccion:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.ddireccion"></ion-input>
      </div>
      <div class="letra-grande">
        <ion-label class="custom-label">Fecha de nacimiento:</ion-label>
        <ion-input class="custom-input" disabled="true" [value]="datosUsuario.ufechanac"></ion-input>
      </div>

      <div class="centrar espacio-abajo">
        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesion
        </ion-button>
      </div>
      <div class="centrar espacio-abajo">
        <ion-button>
          <ion-icon slot="start" name="pencil"></ion-icon>
          Editar Perfil
        </ion-button>
      </div>
      <div class="centrar espacio-abajo">
        <ion-button>
          <ion-icon slot="start" name="pencil"></ion-icon>
          Cambiar contraseña
        </ion-button>
      </div>
      <div *ngIf="idRol=='3'" class="centrar espacio-abajo">
        <ion-button (click)="agregarUsuario()">
          <ion-icon slot="start" name="add"></ion-icon>
          Agregar Administrador
        </ion-button>
      </div>
      
      
    </div>

  </div>
</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>
  
</ion-footer>
