<ion-header >

  <app-barranav titulo="Bienvenido {{ idRol }}" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <br>
  
  <app-logo></app-logo>

   <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>

   <br>
  
  <h3 class="centrar color-negro letras-negrita">Lo más vendido</h3>

  <br>

  <div *ngFor="let zapatilla of arregloFiltrado" class="contenedor-cards contenedor-flex espacio" (click)="irProducto(zapatilla.idzapatilla)">
    <div class="margin-auto centrar contenedor-imagen"><img [src]="zapatilla.zfoto" alt="" class="tamano-imagen margin-top"></div>
    <div>
      <p class="letras-negrita2 margin-top">{{zapatilla.znombre}}</p>
      <p class="letras-negrita2">{{zapatilla.mnombre}}</p>
      <p class="letras-negrita2">{{zapatilla.zprecio | preciochile}}</p>
    </div>
  </div>

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>

</ion-footer>
