<ion-header >

  <app-barranav titulo="Bienvenido {{ idRol }}" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <br>
  
  <app-logo></app-logo>

  <div class="cuadrado-busqueda margin-auto contenedor-flex">
    <input type="text" class="barra-busqueda margin-auto" placeholder="Buscar zapatilla por nombre..." [(ngModel)]="terminoBusqueda">
    <img src="assets/lupa.png" alt="" class="tamano-lupa margin-topbot-auto"(click)="irBusqueda()">
  </div>

   <br>
  
  <h3 class="centrar color-negro letras-negrita">Lo más vendido</h3>

  <br>

  <div *ngIf="idRol == '1' || idRol == '2'">
    <div *ngFor="let zapatilla of arregloUsuario" class="contenedor-cards contenedor-flex espacio" (click)="irProducto(zapatilla.idzapatilla)">
      <div class="margin-auto centrar contenedor-imagen"><img [src]="zapatilla.zfoto" alt="" class="tamano-imagen margin-top"></div>
      <div>
        <p class="letras-negrita2 margin-top">{{zapatilla.znombre}}</p>
        <p class="letras-negrita2">{{zapatilla.mnombre}}</p>
        <p class="letras-negrita2">{{zapatilla.zprecio | preciochile}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="idRol == '3'">
    <div *ngFor="let zapatilla of arregloFiltrado" class="contenedor-cards contenedor-flex espacio" (click)="irProducto(zapatilla.idzapatilla)">
      <div class="margin-auto centrar contenedor-imagen"><img [src]="zapatilla.zfoto" alt="" class="tamano-imagen margin-top"></div>
      <div>
        <p class="letras-negrita2 margin-top">{{zapatilla.znombre}}</p>
        <p class="letras-negrita2">{{zapatilla.mnombre}}</p>
        <p class="letras-negrita2">{{zapatilla.zprecio | preciochile}}</p>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>

</ion-footer>
