ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

.centrar{
    text-align: center;
}

.color-negro{
    color:black;
}

.letras-negrita{
    font-weight: bold;
}

ion-toolbar{
    --background: #F44449;
}
.contenedor-flex{
    display: flex;
}
.contenedor-footer{
    width: 25%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.color-negro{
    color:black;
}
.agrandar-icono{
    font-size: 35px;
}

.arreglar-lista{
    margin-top: 3px;
}

.contenedor-cards{
    margin: auto;
    width: 90%;
    background-color: black;
    border-radius: 10px;
    align-items: center;
}

.margin-auto{
    margin: auto;
}

.letras-negrita2{
    font-weight: 500;
}
.margin-top{
    margin-top: 10px;
}

.contenedor-imagen{
    display: flex;
    width: 100px;
    height: 150px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    }
    
.tamano-imagen{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.espacio{
    margin-bottom: 10px;
}