<ion-header >

  <app-barranav titulo="Bienvenido {{ idRol }}" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <br>
  
  <app-logo></app-logo>

   <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>

   <br>
  
  <h3 class="centrar color-negro letras-negrita">Lo más vendido</h3>

  <br>

  <div class="contenedor-cards contenedor-flex" (click)="irPagina()">
    <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
    <div>
      <p class="letras-negrita2 margin-top">RDB Game Hombre Celeste</p>
      <p class="letras-negrita2">Puma</p>
      <p class="letras-negrita2">$33.590</p>
    </div>
  </div>

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>

</ion-footer>
