<ion-header [translucent]="true">

  <app-barranav titulo="Recuperar Contraseña" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-login centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <br>

      <div class="contenedor-input margin-auto">
        
        <form [formGroup]="emailForm" (ngSubmit)="recuperarContrasena()">

        <ion-input formControlName="email" label="Correo" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su email. Ej: correo@gmail.com"></ion-input>
        <div *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty) || emailForm.get('email')?.touched">
          <p *ngIf="emailForm.get('email')?.hasError('required')" class="color-negro negrita">El email no puede estar vacio </p>
          <p *ngIf="emailForm.get('email')?.hasError('email')" class="color-negro negrita">Por favor ingrese un email valido.</p>
        </div>
        
        <br>
        <div class="contenedor-input margin-auto centrar">
          <p>Al ingresar su correo electronico, recibira un correo con un codigo que debe ingresar a continuacion.</p>
        </div>

        <br>

        <ion-button expand="full" type="submit" [disabled]="emailForm.invalid" class="btn-color"><ion-icon slot="start" name="pencil"></ion-icon>Cambiar contraseña</ion-button>
      </form>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>
  
</ion-footer>