ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

ion-button{
    --background: #F44449;
    width: 100%;
}

ion-select {
  --placeholder-color: black;
  --background: white;
  color: black;
}
ion-item{
    --background: white;
}

.linea{
    width: 85%;
    min-height: 80%;
    border: 3px solid white;
}

.margin-auto{
    margin: auto;
}

.bordear{
    border-radius: 10px;
}

.contenedor-cards{
    margin: auto;
    width: 95%;
    background-color: black;
    min-height: 95%;
    margin-top: 10px;
}

.centrar{
    text-align: center;
}

.letras-negrita{
    font-weight: 600;
}

.letras-negrita2{
    font-weight: 500;
}

.contenedor-lista{
    width: 50%;
}

.sin-padding{
    padding: 0px;
    background-color: white;
}

.letras-grandes{
    font-size: 25px;
}

.contenedor-compra{
    width: 80%;
}

.espacio{
    margin-bottom: 10px;
}

.espacio2{
    margin-bottom: 5px;
}
.tamano-zapatilla{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.margin-top{
    margin-top: 10px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.espacio-arriba{
    margin-top: 5px;
}

