<ion-header [translucent]="true">

  <app-barranav titulo="Inicio de sesión"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-login centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div class="contenedor-input margin-auto">
        <form [formGroup]="loginForm" (ngSubmit)="validarLogin()">

          <ion-input formControlName="usuario" label="Usuario" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese su usuario. Ej: MarkusAce"></ion-input>
          <div *ngIf="loginForm.get('usuario')?.invalid && (loginForm.get('usuario')?.dirty) || loginForm.get('usuario')?.touched">
            <p *ngIf="loginForm.get('usuario')?.hasError('required')">El nombre de Usuario no puede estar vacio.</p>
          </div>

          <ion-input formControlName="contrasena" label="Contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese su contraseña"></ion-input>
          <div *ngIf="loginForm.get('contrasena')?.invalid && (loginForm.get('contrasena')?.dirty || loginForm.get('contrasena')?.touched)">
            <p *ngIf="loginForm.get('contrasena')?.hasError('required')">La contraseña no puede estar vacia.</p>
          </div>

          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid" class="color"><ion-icon slot="start" name="log-in-outline"></ion-icon>Acceder</ion-button>
        </form>
      </div>

      <div class="contenedor-input margin-auto">
        <div class="contenedor-flex tamano-letras" (click)="irRegistro()">
          <p>¿No tienes una cuenta? &nbsp;</p>
          <p class="letras-negrita"> Registrate  aqui!!!</p>
        </div>
        <p class="tamano-letras letras-negrita" (click)="irCambiarContra()">Cambia tu contraseña aqui.</p>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>

  <app-barrafooter></app-barrafooter>
  
</ion-footer>