ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

ion-title{
    --color: black;
}

ion-input{
    --background: white;
    color: black;
    --highlight-color-valid: black;
}

.contenedor-pag{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-editar{
    width: 85%;
    min-height: 95%;
    background-color: #D03739;
}

.color{
    --background: black;
    color: white;
    font-size: 16px;
}

.margin-auto{
    margin: auto;
}

.tamano-letras{
    font-size: 13px;
}

.centrar-eje{
    align-items: center;
}

.contenedor-input{
    width: 90%;
}

.centrar{
    text-align: center;
}

.fondo{
    --background: white;
    color: black;
}

.sin-padding{
    padding: 0px;
    background-color: white;
}

.contenedor-imagen{
width: 55%;
}

.tamano-imagen{
    width: 100%;
    height: auto;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
    
.tamano-imagen{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.color-negro{
    color: black;
}
.negrita{
    font-weight: 500;
}

.linea{
    border-top: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
}

.contenedor-flex{
    display: flex;
    justify-content: space-between;
}

.contenedor-talla{
    width: 40%;
}

.espacio-arriba2{
    margin-top: 5px;
}

.espacio{
    margin-bottom: 5px;
}