<ion-header [translucent]="true">

  <app-barranav titulo="Cambiar contraseña Perfil" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-login centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div *ngIf="idRol == '2' || idRol == '3'" class="contenedor-input margin-auto">
        <form [formGroup]="contrasenaForm" (ngSubmit)="validarCambioContra()">

          <ion-input formControlName="antigua" label="Contraseña actual" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese su contraseña"></ion-input>
          <div *ngIf="contrasenaForm.get('antigua')?.invalid && (contrasenaForm.get('antigua')?.dirty) || contrasenaForm.get('antigua')?.touched">
            <p *ngIf="contrasenaForm.get('antigua')?.hasError('required')" class="color-negro negrita">La contraseña no puede estar vacia.</p>
          </div>

        <br>
        <ion-input formControlName="nueva" label="Nueva contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese su nueva contraseña."></ion-input>
        <div *ngIf="contrasenaForm.get('nueva')?.invalid && (contrasenaForm.get('nueva')?.dirty || contrasenaForm.get('nueva')?.touched)">
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('required')" class="color-negro negrita">La contraseña no puede estar vacia.</p>
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('minimo')" class="color-negro negrita">La contraseña debe tener al menos 8 caracteres.</p>
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('mayuscula')" class="color-negro negrita">La contraseña debe contener una mayuscula.</p>
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('minuscula')" class="color-negro negrita">La contraseña debe contener una minuscula.</p>
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('numero')" class="color-negro negrita">La contraseña debe contener un número.</p>
          <p *ngIf="contrasenaForm.get('nueva')?.hasError('especial')" class="color-negro negrita">La contraseña debe contener un caracter especial.</p>
        </div>

        <br>

        <ion-input formControlName="confirmar" label="Repita su contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese nuevamente la contraseña."></ion-input>
        <div *ngIf="contrasenaForm.hasError('mismatch') && contrasenaForm.get('confirmar')?.touched">
          <p class="color-negro negrita">Las contraseñas no coinciden</p>
        </div>

        <ion-button expand="full" type="submit" [disabled]="contrasenaForm.invalid" class="btn-color"><ion-icon slot="start" name="pencil"></ion-icon>Confirmar cambio</ion-button>
      </form>
      </div>

      <div *ngIf="idRol == '1'" class="contenedor-input margin-auto">
        <form [formGroup]="contrasenacodigoForm" (ngSubmit)="validarCambioContraCodigo()">

          <ion-input formControlName="codigo" label="Codigo recibido" label-placement="floating" fill="outline" class="espacio" placeholder="Ingrese el codigo enviado"></ion-input>
          <div *ngIf="contrasenacodigoForm.get('codigo')?.invalid && (contrasenacodigoForm.get('codigo')?.dirty) || contrasenacodigoForm.get('codigo')?.touched">
            <p *ngIf="contrasenacodigoForm.get('codigo')?.hasError('required')" class="color-negro negrita">La contraseña no puede estar vacia.</p>
          </div>

        <br>
        <ion-input formControlName="nueva" label="Nueva contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese su nueva contraseña."></ion-input>
        <div *ngIf="contrasenacodigoForm.get('nueva')?.invalid && (contrasenacodigoForm.get('nueva')?.dirty || contrasenacodigoForm.get('nueva')?.touched)">
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('required')" class="color-negro negrita">La contraseña no puede estar vacia.</p>
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('minimo')" class="color-negro negrita">La contraseña debe tener al menos 8 caracteres.</p>
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('mayuscula')" class="color-negro negrita">La contraseña debe contener una mayuscula.</p>
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('minuscula')" class="color-negro negrita">La contraseña debe contener una minuscula.</p>
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('numero')" class="color-negro negrita">La contraseña debe contener un número.</p>
          <p *ngIf="contrasenacodigoForm.get('nueva')?.hasError('especial')" class="color-negro negrita">La contraseña debe contener un caracter especial.</p>
        </div>

        <br>

        <ion-input formControlName="confirmar" label="Repita su contraseña" label-placement="floating" fill="outline" class="espacio" type="password" placeholder="Ingrese nuevamente la contraseña."></ion-input>
        <div *ngIf="contrasenacodigoForm.hasError('mismatch') && contrasenaForm.get('confirmar')?.touched">
          <p class="color-negro negrita">Las contraseñas no coinciden</p>
        </div>

        <ion-button expand="full" type="submit" [disabled]="contrasenacodigoForm.invalid" class="btn-color"><ion-icon slot="start" name="pencil"></ion-icon>Confirmar cambio</ion-button>
      </form>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>
  
</ion-footer>