ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

.contenedor-cards{
    margin: auto;
    width: 90%;
    min-height: 72%;
    background-color: black;
    border-radius: 10px;
}

.contenedor-flex{
    display: flex;
}

.contenedor-info{
    width: 80%;
}

.margin-auto{
    margin: auto;
}

.centrar-justify{
    justify-content: center;
}

.letras-negrita{
    font-weight: bold;
}

.tamano-letras{
    font-size: 18px;
}

.color-negro{
    color:white;
}

.centrar{
    text-align: center;
}

.contenedor-letras-card{
    width: 80%;
    font-size: 18px;
}

.letras-negrita2{
    font-weight: 500;
}

.precio{
    text-align: right;
}

.espacio-precio{
    justify-content: space-between;
    align-items: center;
}
.tamano-zapatilla{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.espacio-arriba{
    margin-top: 5px;
}

.espacio{
    margin-bottom: 15px;
}