<ion-header >
  <app-barranav titulo="Lista de pedidos" [tipousuario]="idRol"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <app-logo></app-logo>
  
  <app-barrabusqueda *ngIf="idRol=='3'" mensaje="Buscar Usuario..."></app-barrabusqueda>

  <br>

  <div *ngIf="idRol=='3'">
    <div *ngFor="let compra of arregloCompra" class="contenedor-cards espacio">
      <br>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Usuario:</p>
          <p class="letras-negrita2 tamano-letras color-negro">{{compra.nombreUsuario}}</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Fecha de compra:</p>
          <p class="letras-negrita2 tamano-letras color-negro">{{compra.cfechaventa}}</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Estado:</p>
          <p class="letras-negrita2 tamano-letras color-negro">{{compra.cestatus}}</p>
        </div>
          <div *ngFor="let detalle of compra.detalles">
            <div class="margin-auto centrar contenedor-imagen espacio2"><img [src]="detalle.fotoZapatilla" alt="" class="tamano-zapatilla"></div>
            <div  class="contenedor-letras-card margin-auto">
              <p class="letras-negrita">{{ detalle.nombreZapatilla }}</p>
              <p class="letras-negrita">{{ detalle.nombreMarca }}</p>
            </div>
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Talla:</p>
              <p class="tamano-letras letras-negrita2">{{ detalle.dtalla }}</p>
            </div>
            
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Cantidad:</p>
              <p class="tamano-letras letras-negrita2">{{detalle.dcantidad}}</p>
            </div>
    
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Dirección:</p>
              <p class="tamano-letras letras-negrita2">{{compra.direccionUsuario}}</p>
            </div>
    
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Total:</p>
              <p class="tamano-letras letras-negrita2">{{compra.ctotal | preciochile}}</p>
              <br>
              <br>
            </div>
          </div>
    </div>
  </div>

  <hr>

  <div *ngIf="idRol=='2'">
    <div *ngFor="let compra of arregloUsuarioCompra" class="contenedor-cards espacio">
      <br>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Fecha de compra:</p>
          <p class="letras-negrita2 tamano-letras color-negro">{{compra.cfechaventa}}</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Estado:</p>
          <p class="letras-negrita2 tamano-letras color-negro">{{compra.cestatus}}</p>
        </div>
          <div *ngFor="let detalle of compra.detalles">
            <div class="margin-auto centrar contenedor-imagen espacio2"><img [src]="detalle.fotoZapatilla" alt="" class="tamano-zapatilla"></div>
            <br>
            <div  class="contenedor-letras-card margin-auto">
              <p class="letras-negrita2">{{ detalle.nombreZapatilla }}</p>
              <p class="letras-negrita2">{{ detalle.nombreMarca }}</p>
            </div>
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Talla:</p>
              <p class="tamano-letras letras-negrita2">{{ detalle.dtalla }}</p>
            </div>
            
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Cantidad:</p>
              <p class="tamano-letras letras-negrita2">{{detalle.dcantidad}}</p>
            </div>
    
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Dirección:</p>
              <p class="tamano-letras letras-negrita2">{{compra.direccionUsuario}}</p>
            </div>
    
            <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
              <p class="letras-negrita tamano-letras">Total:</p>
              <p class="tamano-letras letras-negrita2">{{compra.ctotal | preciochile}}</p>
            </div>
              <br>
              <br>
            
          </div>
    </div>
  </div>
  <hr>

</ion-content>

<ion-footer>
  
  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>

</ion-footer>
