ion-content{
    --background: linear-gradient(to bottom,#D7D7D7,#F44449);
}

.color{
    --background: #B5B5B5;
    width: 40%;
    opacity: 0.8;
}

.boton-compra{
    --background: #F44449;
    width: 100%;
}
.boton-compra2{
    --background: #F44449;
    width: 70%;
}

.contenedor-cards{
    margin: auto;
    width: 80%;
    min-height: 68%;
    background-color: black;
}

.bordear{
    border-radius: 10px;
}

.contenedor-flex{
    display: flex;
}

.contenedor-info{
    width: 75%;
}

.margin-auto{
    margin: auto;
}
.margin-l{
    text-align: end;
}

.centrar-justify{
    justify-content: center;
}

.letras-negrita{
    font-weight: bold;
}

.tamano-letras{
    font-size: 18px;
}

.color-negro{
    color:white;
}

.centrar{
    text-align: center;
}

.contenedor-letras-card{
    width: 75%;
    font-size: 18px;
}

.letras-negrita2{
    font-weight: 500;
}

.contenedor-total{
    width: 80%;
    min-height: 25%;
    background-color: black;
}

.contenedor-quitar{
    width: 90%;
}

.contenedor-compra{
    width: 80%;
    height: 100%;
}

.precio{
    text-align: right;
}

.espacio-precio{
    justify-content: space-between;
    align-items: center;
}

.tamano-zapatilla{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    width: auto;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.espacio-arriba{
    margin-top: 5px;
}
