<ion-header>
  
  <app-barranav titulo="Carrito" [tipousuario]="idRol"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <div *ngFor="let zapatilla of productosCarrito; let i = index" class="contenedor-cards bordear">
    <hr>
      <div class="margin-auto centrar"><img [src]="zapatilla.imagen" alt="" class="tamano-zapatilla bordear"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">{{zapatilla.nombre}}</p>
          <p class="letras-negrita2">{{zapatilla.marca}}</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Talla:</p>
          <p class="tamano-letras letras-negrita2">{{zapatilla.talla}}</p>
        </div>
        
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Cantidad:</p>
          <p class="tamano-letras letras-negrita2">{{zapatilla.cantidad}}</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Total:</p>
          <p class="tamano-letras letras-negrita2">{{zapatilla.total}}</p>
        </div>

        <div class="contenedor-quitar margin-auto margin-l">
          <ion-button class="color">
            <ion-icon slot="start" name="trash"></ion-icon>
            Quitar
          </ion-button>
        </div>
  </div>

  <hr>

  <div class="contenedor-total margin-auto bordear">
    <hr>

      <div class="contenedor-compra margin-auto">
        <div class="contenedor-flex espacio-precio">
          <p class="letras-negrita tamano-letras ">Subtotal:</p>
          <p class="tamano-letras letras-negrita2 ">&nbsp;$112.908</p>
        </div>
        <div class="contenedor-flex espacio-precio">
          <p class="letras-negrita tamano-letras ">IVA:</p>
          <p class="tamano-letras letras-negrita2 ">&nbsp;$21.452</p>
        </div>
        <div class="contenedor-flex espacio-precio">
          <p class="letras-negrita tamano-letras ">Total:</p>
          <p class="tamano-letras letras-negrita2 precio">&nbsp;$134.360</p>
        </div>
  
        <div class="centrar margin-auto">
          <ion-button class="boton-compra" (click)="comprar()">
            <ion-icon slot="start" name="cart"></ion-icon>
            Comprar
          </ion-button>
        </div>
      </div>
  </div>

</ion-content>

<ion-footer>

  <app-barrafooter [tipoUsuario]="idRol"></app-barrafooter>
  
</ion-footer>